:root {
    --corPreta: #1D1E20; 
    --corVerde: #0B5731;
    --corBranca: #ffffff;
    --corLaranja: #F86300;
    --corCinza: #6A7575;
  }
html{
    background-color: var(--corPreta); 
    font-family: 'Lexend Deca', sans-serif;
    color:var(--corBranca);
}  
*:focus {
    outline: none;
}

.container{
    display: flex;  
    flex-wrap: wrap;
    padding: 0em 2em 2em 2em;
    margin: 0em 2em 2em 2em;
}
.box{
    display: flex;
    flex-direction: column;
    flex: 0 0 calc(25% - 2em);

    box-sizing: border-box;
    /* padding: 1em 1em 1em 1em; */
    margin: 1em 1em 1em 1em;
    position: relative;
    height: 300px;
}

.box h2{
    text-align: left;
    color: var(--corBranca);
    position: absolute;
    bottom: 1em;   
    left: 1em;
}
.box img{
    margin: 0;
    height: 100%;
    width: 100%;
}

.status-personagem{
    position: absolute;
    top: 1em;   
    right: 0em;
    font-size: 0.7em;
    font-weight: bold;
    color: var(--corBranca);
    padding: 1em 2em 1em 2em;
}
.vivo{
    background-color: var(--corVerde);
}
.morto{
    background-color: var(--corLaranja);
}
.apelido-personagem{
    position: absolute;
    top:0em;
    left: 1em;
    text-align: left;
    color: var(--corBranca);
    font-size: 0.7em;
    font-weight: bold;
    font-style: italic;
}

.occupation-personagem{
    position: absolute;
    bottom: 0em;
    left: 0.5em;
    text-align: left;
    color: var(--corBranca);
    font-size: 0.7em;
    font-weight: bold;
    font-style: italic;
}

.container-logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2em 5em 2em 5em;
    align-items: center;
}
.container-logo img{
    display: flex;
    box-sizing: border-box;
    height: 6em;
}
.container-logo button{
    border:0;
    background-color: transparent;
    color: var(--corBranca);
    font-weight: bold;
    font-size: 0.8em;
}
.container-logo button:hover{
    opacity:0.7;
}

#filtrar-nomepersonagens, #filtrar-nomeepisodios{
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px var(--corCinza);
    color: var(--corBranca);
    font-size: 1.2em;
    color: var(--corCinza);
    padding-bottom: 0.3em;
}
#filtronomeSpan, #filtroepisodioSpan{
    position: relative;
}
#filtronomeSpan i, #filtroepisodioSpan i{
    position: absolute;
    right: 0em;
    top:0;
}

.container-personagens-filtro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2em 5em 0em 5em;
    align-items: center;
}
.container-personagens-filtro button{
    background-color: transparent;
    border-radius: 2px;
    padding: 0.5em 2.5em 0.5em 2.5em;
    font-size: 0.7em;
    font-weight: bold;
    margin-left: 1em;
}

.container-personagens-filtro .filtroMorto{
    color: var(--corLaranja);
    border: 1px solid var(--corLaranja);
}
.container-personagens-filtro .filtroMorto:hover{
    color: var(--corPreta);
    background-color: var(--corLaranja);
    border: 1px solid var(--corLaranja);
}
.container-personagens-filtro .filtroVivo{
    color: var(--corVerde);
    border: 1px solid var(--corVerde);
}
.container-personagens-filtro .filtroVivo:hover{
    color: var(--corPreta);
    background-color: var(--corVerde);
    border: 1px solid var(--corVerde);
}
.container-personagens-filtro .filtroTodos{
    color: var(--corBranca);
    border: 1px solid var(--corBranca);
}
.container-personagens-filtro .filtroTodos:hover{
    color: var(--corPreta);
    background-color: var(--corBranca);
    border: 1px solid var(--corBranca);
}

.container-personagens-filtro p{
    font-size: 2em;
    font-weight: bold;
}

.container-personagens-filtro p:nth-child(2){
    display: flex;
    flex: 1;
    padding: 0 0 0 1em;
}

.container-personagens-filtro p:hover{
    
    cursor: pointer;
}

.containerEpisodios{
    padding: 0em 2em 2em 2em;
    margin: 0em 2em 2em 2em;
}
.boxEpisodios{
    display: flex;
    /* border: 1px solid red; */
    box-sizing: border-box;
    /* padding: 1em 1em 1em 1em; */
    margin: 1em 5em 1em 5em;
    position: relative;
    height: 150px;
    border-bottom: solid 1px var(--corCinza);

}

.div1{
    width: 33.33%;
}
.div2{
    width: 21.6%;
    padding-left: 2em;
    opacity: 0.6;
}
.div3{
    width: 45%;
    opacity: 0.6;
}
.subdiv1{
    display: flex;
    box-sizing: content-box;
    margin: 0;
}
.subdiv1 p{
    margin: 0;
    margin-right: 0.5em; 
    opacity: 0.6;
}

.titulo{
    margin:0;
    font-size: 2em;
    font-weight: bold;
}

.opacity05{
    opacity: 0.5;
}
.opacity1{
    opacity: 1;
}
.invisivel{
    display: none;
}


.filtro-temporada{
    background: transparent;
    border-radius: 2px;
    padding: 0.5em 1.5em 0.5em 1.5em;
    font-size: 0.7em;
    font-weight: bold;
    margin-left: 1em;
    color: var(--corBranca);
    border: 1px solid var(--corBranca);
}
.filtro-temporada option{
    background: var(--corPreta);
    color: var(--corBranca);
    font-size: inherit;
    font-weight: inherit;
}


@media only screen and (max-width: 768px){
    .container {
        padding: 0em 0em 2em 0em;
        margin: 0em 0em 2em 0em;
    }
    .box{
        flex: 0 0 calc(50% - 2em);
    }
    .container-personagens-filtro{
        flex-direction: column;
        margin: 0em 0em 0em 0em;
        justify-content: center;
    }
    .container-personagens-filtro p {
        padding: 0em 0em 0em 0em !important;
        margin: 0em 0em 1em 0em !important;
    }
    .container-logo{
        flex-direction: column;
        margin: 2em 0em 0em 0em;
    }
    .container-logo img{
        height: 8em;
    }
    .container-logo span{
        margin-top: 3em;
        margin-bottom: 2em;
    }
    .containerEpisodios{
        padding: 0em 0em 0em 0em !important;
    }
    .boxEpisodios {
        margin: 2em 0em 1em 0em !important;
        height: auto;
        padding-bottom: 2em;
    }
    .div1 {
        width: 50%;
    }
    .div2 {
        width: 45%;
    }
    .div3{
        display: none;
    }
}