:root {
    --corPreta: #222326; 
    --corVerde: #0B5731;
    --corBranca: #ffffff;
    --corLaranja: #F86300;
    --corCinza: #6A7575;
  }
html{
    background-color: var(--corPreta); 
    font-family: 'Roboto', sans-serif;
    color:var(--corBranca);
}  
*:focus {
    outline: none;
}

.container{
    display: flex;  
    flex-wrap: wrap;
    padding: 0em 2em 2em 2em;
    margin: 0em 2em 2em 2em;
}
.box{
    display: flex;
    flex-direction: column;
    flex: 0 0 calc(25% - 2em);

    box-sizing: border-box;
    /* padding: 1em 1em 1em 1em; */
    margin: 1em 1em 1em 1em;
    position: relative;
    height: 300px;
}

.box h2{
    text-align: left;
    color: var(--corBranca);
    position: absolute;
    bottom: 1em;   
    left: 1em;
}
.box img{
    margin: 0;
    height: 100%;
    width: 100%;
}

.status-personagem{
    position: absolute;
    top: 1em;   
    right: 0em;
    font-size: 0.7em;
    font-weight: bold;
    color: var(--corBranca);
    padding: 1em 2em 1em 2em;
}
.vivo{
    background-color: var(--corVerde);
}
.morto{
    background-color: var(--corLaranja);
}
.apelido-personagem{
    position: absolute;
    bottom: 2em;
    left: 2em;
    text-align: left;
    color: var(--corBranca);
    font-size: 0.7em;
    font-weight: bold;
    font-style: italic;
}

.occupation-personagem{
    position: absolute;
    bottom: 1em;
    left: 0.5em;
    text-align: left;
    color: var(--corBranca);
    font-size: 0.7em;
    font-weight: bold;
    font-style: italic;
}

.container-logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2em 5em 2em 5em;
    align-items: center;
}
.container-logo img{
    display: flex;
    box-sizing: border-box;
    height: 6em;
}
.container-logo button{
    border:0;
    background-color: transparent;
    color: var(--corBranca);
    font-weight: bold;
    font-size: 0.8em;
}
.container-logo button:hover{
    opacity:0.7;
}

#filtrar-nomepersonagens{
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    color: var(--corBranca);
    font-size: 1.2em;
    color: var(--corCinza);
}

.container-personagens-filtro{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2em 5em 0em 5em;
    align-items: center;
}
.container-personagens-filtro button{
    background-color: transparent;
    border-radius: 2px;
    padding: 0.5em 2.5em 0.5em 2.5em;
    font-size: 0.7em;
    font-weight: bold;
    margin-left: 1em;
}

.container-personagens-filtro .filtroMorto{
    color: var(--corLaranja);
    border: 1px solid var(--corLaranja);
}
.container-personagens-filtro .filtroMorto:hover{
    color: var(--corPreta);
    background-color: var(--corLaranja);
    border: 1px solid var(--corLaranja);
}
.container-personagens-filtro .filtroVivo{
    color: var(--corVerde);
    border: 1px solid var(--corVerde);
}
.container-personagens-filtro .filtroVivo:hover{
    color: var(--corPreta);
    background-color: var(--corVerde);
    border: 1px solid var(--corVerde);
}
.container-personagens-filtro .filtroTodos{
    color: var(--corBranca);
    border: 1px solid var(--corBranca);
}
.container-personagens-filtro .filtroTodos:hover{
    color: var(--corPreta);
    background-color: var(--corBranca);
    border: 1px solid var(--corBranca);
}

.container-personagens-filtro p{
    font-size: 2em;
    font-weight: bold;
}

.container-personagens-filtro p:nth-child(2){
    display: flex;
    flex: 1;
    padding: 0 0 0 1em;
}

.container-personagens-filtro p:hover{
    opacity: 0.5;
    cursor: pointer;
}

.opacitydown{
    opacity: 0.5;
}
.opacityback{
    opacity: 1;
}


.invisivel{
    display: none;
}
#filtronomeSpan{
    position: relative;
}
#filtronomeSpan i{
    position: absolute;
    right: 0em;
    top:0;
}

@media only screen and (max-width: 768px){
    .container {
        padding: 0em 0em 2em 0em;
        margin: 0em 0em 2em 0em;
    }
    .box{
        flex: 0 0 calc(50% - 2em);
    }
    .container-personagens-filtro{
        flex-direction: column;
        margin: 0em 0em 0em 0em;
    }
    .container-logo{
        flex-direction: column;
        margin: 2em 0em 0em 0em;
    }
    .container-logo img{
        height: 8em;
    }
    .container-logo span{
        margin-top: 3em;
        margin-bottom: 2em;
    }
}